/*Styles du site Reservia
par Aurélie GAUTIER BARTOLO
*/


/************ICONS************/

.fas
{
    border-radius: 50%;
    font-size: 1.2em;
}

.blue
{
    color: #0065FC;
}

.grey
{
    color: #d9d9d9;
}

/************TEXT************/

@font-face {
    font-family: 'Raleway', sans-serif;
}

p, h1, h2, h3, h4/*S'applique à toutes ces balises*/
{
    margin: 0;
}

ul
{
    list-style-type : none;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 1.36em;
    margin: 37px 0 8px 0px;
}

h2
{
    font-size: 1.37em;
}

.subtitle
{
    margin-bottom: 23px;
}

h3, input
{
    font-size: 1.12em;
}

h4
{
    font-size: 0.99em;
    margin: 0;

}

p
{
    font-size: 0.97em;
}

.little
{
    font-size: 0.87em;
}


a:link, a:visited
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    color: #0065FC;
}

a:active
{
    color: #0065FC;
}

/************GLOBAL************/

*
{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body
{
    margin: auto;
}

#bloc-page
{
    margin: auto;
}

main, header
{
    margin: auto;
    padding: 0 50px;
    max-width: 1440px;
}

.flex
{
    display: flex;
}

.wrap
{
    flex-wrap: wrap;
}

.column
{
    flex-direction: column;
}

.row
{
    flex-direction: row;
}

.bottom-0
{
    bottom: 0;
}

.table
{
    display: table;
}

.table-cell-middle
{
    vertical-align: middle;
    display: table-cell;
}

.table-cell-bottom
{
    vertical-align: bottom;
    display: table-cell;
}

.sticky
{
    position: sticky;
}

.rounded-box
{
    border-radius: 20px;
    overflow: hidden;
}

.shadow
{
    box-shadow: 0px 6px 6px #dddddd;
}

.no-margin *
{
    margin: 0;
}

.scale:hover
{
    transform: scale(1.02);
    transition-duration: 0.2s;
    cursor: pointer;
}

/************HEADER************/

li.logoContainer
{
    margin: 42px 0 0px 3px;
    flex: 1 0 140px;
}

.logoContainer img
{
    height: 50px;
    width: 97px;
}

li.menu
{
    display: block;
    margin: 0 10px;
    padding: 47px 17px 0 31px;
    border-top: 2px solid transparent;
}

li.active
{
    color: #0065FC !important;
    border-top: 2px #0065FC solid;
    text-decoration: none;
}

.register a
{
    font-weight: bold;
    color: #0065FC;
}

/************MAIN************/

/*TITLE*/

#title
{
    margin: -6px 0 20px 5px;
}


/*SEARCH*/

.search
{
    
}

form
{
    display: inline-flex; /****************************pkoi ?***********/
    margin: 0 0 31px 4px;
    height: 50px;
    line-height: 50px;
}

input[type=search], input[type=submit]
{
    text-decoration: none;
    font-weight: bold;
}

.fa-map-marker-alt
{
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 51px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    padding: 15px 15px 15px 20px;
}

input[type=search]
{
    flex: 1 1 auto;
    border: 1px solid #F2F2F2;
    width: 238px;
    padding: 0 18px;
}

input[type=submit]
{
    background-color: #0065FC;
    border: 2px solid #0065FC;
    color: white;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    margin-left: -1px;
    width: 135px;
    padding: 0 13px;
}

button
{
    background-color: #0065FC;
    border: 2px solid #0065FC;
    color: white;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    margin-left: -1px;
    width: 135px;
    padding: 0 13px;
    font-size: 1.1em;
    font-weight: bolder;
}

i.submit_button
{
    display: none;
}

/*FILTERS*/

div.margin-left-10
{
    margin-left: 10px;
}

.filters-container
{
    align-items: center;
    margin-bottom: 35px;
}

.filters-container>h3 /*@media  ajouter une largeur de 100% à mon h3******************************/
{
    margin: 0 29px 0 2px;
}

.filters div
{
    display: block;
    height: 50px;
    /*width: max-content;*/
    border: 2px solid #d9d9d9;
    border-radius: 100px;
    margin: 0 20px 0 3px;
}

.filter span
{
    position: relative;
    display: inline-block;
    top: -2px;
    left: -2px;
    background-color: #DEEBFF;
    width: 50px;
	line-height: 50px;
    text-align: center;
    border-radius: 50%;
    /*transform: scale(1.1);  A REVOIR***************************************************/
}

.filter h3
{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    transform: translateY(-2px);
    margin: 0 23px 0 10px;
}

p#info
{
    display: block;
    height: 25px;
    line-height: 25px;
    margin-bottom: 37px;
}

#info span
{
    position: relative;
    display: inline-block;
    top: -2px;
    left: -2px;
    border: 2px solid #F2F2F2;
    width: 25px;
    height:25px;
    line-height: 20px;
    border-radius: 50%;
    margin-right: 9px;
    text-align: center;
    font-size: 0.7em;
}

/*SECTION DES RESULTATS DE RECHERCHE*/

.section-results
{
    flex-direction: row-reverse;
}

.grey-box
{
    padding: 42px 40px 30px 40px;
    background-color: #F2F2F2;
}

.stars
{
    display: inline-flex;
    font-size: 0.65em;
}

.fa-chart-line
{
    font-size: 1.4em;
}

.white
{
    background-color: #FFFFFF;
    border: 5.5px white solid;
}

.section-results img
{
    object-fit: cover;
}

/*HEBERGEMENT*/

.accomodation
{
    flex-grow: 1;
    flex-basis: 50%;
    flex-shrink: 0; /*IDEM than flex: 1 50% 0;*/
    max-width: 880px;
    
}

.grid-accomodations
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 39px;
    max-width: 798px;
    max-height: 428px;
}

.one-accomodation
{
    grid-row: 1/2;
}

.two-accomodation
{
    grid-row: 1/2;
}

.three-accomodation
{
    grid-row: 1/2;
}

.four-accomodation
{
    grid-row: 2/3;
}

.five-accomodation
{
    grid-row: 2/3;
}

.six-accomodation
{
    grid-row: 2/3;
}

.accomodation-results
{
    /*justify-content: center;*/
}

.accomodation-box img
{
    width: 100%;
    height: 115px;
}

.accomodation-description
{
    margin: 2px 15px 10px 12px;
}

.accomodation-description *
{
    line-height: 1.5em;
}

/*LES PLUS POPULAIRES*/

aside
{
    max-width: 420px;
    flex-grow: 1;
    flex-basis: 50%;
    flex-shrink: 0;
    margin-left: 40px;
}

.grid-popular
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    width: 340px;
}

.popular-box
{
    width: 100%;
}

.popular-box a
{
    height: 136px;
}

.popular-title
{
    justify-content: space-between;
    align-items: center;
}

.popular-box img
{
    width: 126px;
}

.popular-description
{
    margin: 10px 20px 5px 20px;
}

.popular-description>div
{
    height: 100%;
    justify-content: space-between;
}

.popular-text *
{
    margin: 5px 0 6px 0;
}

/*.table-stars
{
    height:100%;
}

.table-stars>div
{
    height: 100%;
}*/

/*SECTION DES ACTIVITIES*/

.section-activities
{
    margin: 60px 0 10px 0;
}


.grid-activities
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 43.33% 9.56% 9.56% auto;
    column-gap: 43px;
    height: 444px;
}

.one-activity
{
    grid-row: 1/5;
}

.two-activity
{
    grid-row: 1/3;
}

.three-activity
{
    grid-row: 4/5;
}

.four-activity
{
    grid-row: 1/5;
}

.five-activity
{
    grid-row: 1/2;
}

.six-activity
{
    grid-row: 3/5;
}

.activity-box a
{
    height: 100%;
    width: 100%;
}

.activity-box img
{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.activity-text
{
    background-color: #FFFFFF;
    padding: 12px 10px 10px 18px;
    min-height: 55px;
}

/*.activity-text h4
{
    vertical-align: middle;
    display: table-cell;
}*/


/************FOOTER************/

footer
{
    margin-top: 61px;
    background-color: #F2F2F2;
    padding: 45px 40px 40px 50px;
}

footer div
{
    padding-right: 232px;
}

footer h3
{
    margin-bottom: 20px;
}

footer p
{
    margin-bottom: 12px;
}

/************TABLE DES MATIERES************/





/************HELP************/

/*box-shadow: 0px 6px 6px #dddddd; /* décalage-horizontal décalage-vertical adoucissement couleur */
/*border-radius: 0 15px 15px 0; /* top-left top-right bottom-right bottom-left */
/*color: inherit; /*********************************************/






/*MEDIA QUERY pour adapter le site aux interfaces : https://www.alsacreations.com/article/lire/930-css3-media-queries.html*/

