/*Styles du site Reservia
par Aurélie GAUTIER BARTOLO
*/

/************ICONS************/

.fas
{
    border-radius: 50%;
}

.blue
{
    color: #0065FC;
}

.grey
{
    color: #F2F2F2;
}

/************TEXT************/

@font-face {
    font-family: 'Raleway', sans-serif;
}

p, h1, h2, h3, h4/*S'applique à toutes ces balises*/
{
    
}

ul
{
    list-style-type : none;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 1.3em;
}

h2
{
    font-size: 1.4em;
}

h3
{
    font-size: 1.1em;
}

h4
{
    font-size: 1em;
}

p{
    /*font-size: 0.9em;*/
}

a:link, a:visited
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    color: #0065FC;
}

a:active
{
    color: #0065FC;
}

/************GLOBAL************/

*
{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body
{
    margin: auto;
}

main, header
{
    width: 90%;
    margin: auto;
}

.flex
{
    display: flex;
}

.wrap
{
    flex-wrap: wrap;
}

.column
{
    flex-direction: column;
}

.row
{
    flex-direction: row;
}

.rounded-box
{
    border-radius: 15px;
    overflow: hidden;
}

.shadow
{
    box-shadow: 0px 6px 6px #dddddd;
}

.no-margin *
{
    margin: 0;
}

/************HEADER************/

nav.flex 
{
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

li.logoContainer
{
    height: 50px;
    flex: 1 0 140px;
}

li.logoContainer img
{
    height: 100%;
}

li.menu
{
    display: block;
    margin: 0 10px;
    height: 50px;
    line-height: 50px;
    border-top: 2px solid transparent;
}

li.active
{
    color: #0065FC !important;
    border-top: 2px #0065FC solid;
    text-decoration: none;
}

/*li:not(.logoContainer) a:hover, li:not(.logoContainer) a:focus
{
    color: #0065FC;
    border-top: 2px #0065FC solid;
    text-decoration: none;
    padding-top: 16px;
}*/

a#register
{
    font-weight: bold;
    color: #0065FC;
}

@media screen and (max-width: 400px) {
  
    header li.register {
      order: 0;
    }
    
    header li.link {
      width: 50%;
      order: 1;
      margin: 0;
      text-align: center;
      border-bottom: 3px solid lightgray;
    }
  
    header li.active {
      border-top: 3px solid transparent;
      border-bottom: 3px solid blue;
    }
  }

/************MAIN************/

/*SEARCH*/

.search
{
    
}

form
{
    display: inline-flex;
    max-width: 300px;
}

.fa-map-marker-alt
{
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.fa-map-marker-alt, input[type=search], input[type=submit]
{
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

input[type=search]
{
    flex: 1 1 auto;
    border: 1px solid #F2F2F2;
    /*font-weight: 200;**************************************************************/
}

input[type=submit]
{
    background-color: #0065FC;
    border: 2px solid #0065FC;
    color: white;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}

/*FILTERS*/

.filters
{
    margin: 20px 0 20px 0;
    align-items: center;
}

a.filter
{
    display: block;
    height: 40px;
    width: max-content;
    border: 2px solid #F2F2F2;
    border-radius: 100px;
    margin: 10px 0 10px 20px;
    padding-right: 20px;
}

.filter span
{
    position: relative;
    display: inline-block;
    top: -2px;
    left: -2px;
    background-color: #DEEBFF;
    width: 40px;
	line-height: 40px;
    text-align: center;
    margin-right: 15px;
    border-radius: 50%;
    /*z-index:50;
    transform: scale(1.1);  A REVOIR***************************************************/
}

.filter h3
{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 0;
}

.filters h3 /*@media  ajouter une largeur de 100% à mon h3******************************/
{
    margin: 0;
}

p.info
{
    display: block;
    height: 25px;
    line-height: 25px;
}

.info span
{
    position: relative;
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
}

/*SECTION DES RESULTATS DE RECHERCHE*/

.section-results
{
    flex-direction: row-reverse;
    justify-content: space-between;
}

.section-results h2
{
    line-height: 20px;
    margin: inherit;
}

.grey-box
{
    padding: 40px;
    background-color: #F2F2F2;
}

.stars
{
    display: inline-flex;
    font-size: 0.8em;
}

.fa-chart-line
{
    font-size: 1.4em;
}

.white
{
    background-color: #FFFFFF;
    border: 4px white solid;
    margin: 20px 20px 20px 0;
}

.section-results img
{
    object-fit: cover;
}

/*HEBERGEMENT*/

.accomodation
{
    /*width: 100%;*/
    flex-grow: 1;
    flex-basis: 50%;
    flex-shrink: 0;
}

.accomodation-results
{
    justify-content: space-evenly;
}

.accomodation-box
{
    /*flex-basis: 250px;*/
    width: 250px;
    justify-content: space-between;
}

.accomodation-box img
{
    width:100%;
    height:100px;
}

.accomodation-description
{
    margin: 5px 10px 5px 10px;
}

.accomodation-description *
{
    line-height: 1.5em;
}

#accomodation-anchor
{
}

/*LES PLUS POPULAIRES*/

aside
{
    max-width: 430px;
    flex-grow: 0;
    flex-basis: 430px;
    flex-shrink: 0;
    margin-left: 20px; /* en dessous d'une certaine dimension, passer à zéro et mettre margin-bottom*/
}

.popular-box
{
    width: 350px;
}

.popular-box a
{
    height: 130px;
}

.popular-title
{
    justify-content: space-between;
    align-items: center;
}

.popular-box img
{
    /*border-radius: 15px 0 0 15px;*/
    width: 130px;
    height: 130px;
}

.popular-description
{
    margin: 10px 10px 10px 20px;
    width: 170px;
}

.popular-text *
{
    margin: 0 0 5px 0;
}

.popular-description>ul
{
    margin-top: 30px;
}

/*SECTION DES ACTIVITIES*/

.grid
{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 30px;
    /*max-width: 900px;
    justify-content: center;
    grid-auto-rows: minmax(100px, auto);*/
    margin-bottom: 10px;
    height: 400px;
}

.activity-text
{
    margin: 20px;
    height: 40px;
}

.activity-box
{
    
}

.activity-box>a>*
{
}

.activity-box img
{
    
}

.one /**************OK**************/
{
    grid-row: 1/3;
}

.one img
{
    height: 300px;
}

.two
{
    grid-row: 1/1;
}

.two img
{
    height: 195px;
}

.three
{
    grid-row: 2/3;
}

.three img
{
    height: 105px;
}

.four /**************OK**************/
{
    grid-row: 1/3;
}

.four img
{
    height: 300px;
}

.five
{
    grid-row: 2/3;
}

.five img
{
    height: 120px;
}

.six
{
    grid-row: 1/1;
}

.six img
{
    height: 180px;
}

/************FOOTER************/

footer
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    background-color: #F2F2F2;
    padding: 40px;
}

footer div
{
    padding-right: 150px;
    margin-top: -20px;
}

/************TABLE DES MATIERES************/





/************HELP************/

/*box-shadow: 0px 6px 6px #dddddd; /* décalage-horizontal décalage-vertical adoucissement couleur */
/*border-radius: 0 15px 15px 0; /* top-left top-right bottom-right bottom-left */
/*color: inherit; /*********************************************/






/*MEDIA QUERY pour adapter le site aux interfaces : https://www.alsacreations.com/article/lire/930-css3-media-queries.html*/

