/*Styles du site Reservia
par Aurélie GAUTIER BARTOLO
*/

/************ICONS************/

.fas
{
    border-radius: 50%;
}

.blue
{
    color: #0065FC;
}

.grey
{
    color: #F2F2F2;
}

/************TEXT************/

@font-face {
    font-family: 'Raleway', sans-serif;
}

p, h1, h2, h3, h4/*S'applique à toutes ces balises*/
{
    
}

ul
{
    list-style-type : none;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 130%;
}

h2
{
    font-size: 120%;
}

h3
{
    font-size: 110%;
}

h4
{

    font-style: bold;
}

a:link, a:visited
{
    text-decoration: none;
    color: #000000;
}

a:hover
{
    /*text-decoration: underline;*/
    color: #0065FC;
}

a:active
{
    color: #0065FC;
}

/************GLOBAL************/

body *
{
    font-family: 'Raleway', sans-serif;
}

body
{
    margin: auto;
}

main, header
{
    width:95%;
    margin: auto;
    /*margin: 0 40px 0 40px;*/
}

/************HEADER************/

header
{
    display: flex;
}

.logo img/*S'applique à tous les objets ayant le même nom logo d'attribut class*/
{
	
}
	
nav
{
    
}

.menu li
{
    float: left;
    margin : 30px 30px 0 0 !important;  /* tous navigateurs */
}

.active a
{
    color: #0065FC;
    border-top: 2px #0065FC solid;
    text-decoration: none;
    padding-top: 28px;
}

#register a
{
    font-weight: bold;
    color: #0065FC;
}

.menu a:hover, .menu a:focus
{
    color: #0065FC;
    border-top: 2px #0065FC solid;
    text-decoration: none;
    padding-top: 28px;
}

/************MAIN************/

/*SEARCH*/

.search
{
 
}

form
{
    display: flex;
    align-items: center;
    max-width: 300px;
}

.fa-map-marker-alt
{
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 15px 0 0 15px; /* top-left top-right bottom-right bottom-left */
}

input[type=search], input[type=submit]
{
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

form input[type=search]
{
    flex: 1 1 auto;
    border: 2px solid #F2F2F2;
}

form input[type=submit]
{
    background-color: #0065FC;
    border: 2px solid #0065FC;
    color: white;
    cursor: pointer;
    border-radius: 0 15px 15px 0; /* top-left top-right bottom-right bottom-left */
}

/*FILTERS*/

.filters
{
    margin: 40px 20px 30px 0 ;
}

.filters *
{
    display: inline;
}

.filters div
{
    border-style: solid;
    border-color:#F2F2F2;
    border-radius: 100px;
    padding: 13px 20px 13px 0;
    line-height: 46px;
    margin-left: 20px;
}

.filters div .fas
{
    background-color: #DEEBFF;
    border: 6px solid #DEEBFF;
    width: 40px;
	line-height: 40px;
    text-align: center;
    margin-right: 15px;
}

.fa-info
{
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
}

/*SECTION DES RESULTATS DE RECHERCHE*/

.rounded-box
{
    border-radius: 15px;
}

.shadow
{
    box-shadow: 0px 6px 6px #dddddd; /* décalage-horizontal décalage-vertical adoucissement couleur */
}

.search_results
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/*HEBERGEMENT*/

.accomodation
{
    max-width: 700px;
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.flex-results
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    margin: 20px 0 20px 0;
}

.flex-results div
{
    display: flex;
    width: auto;
    margin: 20px;
    background-color: #FFFFFF;
    border: 4px white solid;

    background-size: cover;
    justify-content: space-between;
}

/*#inline
{
    display: inline;
}*/

/*#marcus-loke
{
    background-image: url("/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#fred-kleber
{
    background-image: url("/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#reisetopia
{
    background-image: url("/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#annie-spratt
{
    background-image: url("/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#nicate-lee
{
    background-image: url("/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#febrian-zakaria-sj
{
    background-image: url("/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}*/

/*LES PLUS POPULAIRES*/

.most_popular
{
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.popular_title
{
    display: inline;
    line-height: 20px;
}

.flex-popular
{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.flex-popular div
{
    width: 200px;
    background-color: #FFFFFF;
    border: 4px white solid;
    margin: 20px 0 20px 0;
}

.stars
{
    display: inline-flex;
}

/*#emile-guillemot
{
    background-image: url("/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

#aw-creative
{
    background-image: url("/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

#febrian-zakaria-m
{
    background-image: url("/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}*/

/*SECTION DES ACTIVITIES*/

.activities
{
    justify-content: center;
}

/*#reno-laithienne
{
    background-image: url("/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

#paul-hermann
{
    background-image: url("/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

#kevin-hikari
{
    background-image: url("/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

#kilyan-sockalingum
{
    background-image: url("/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#florian-wehde
{
    background-image: url("/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

#lena-paulin
{
    background-image: url("/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}*/

/************FOOTER************/

footer
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;

    background-color: #F2F2F2;
    padding: 40px;

}

footer div
{
    padding-right: 150px;
    margin-top: -20px;
}